*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: light dark;
    font-family: Arial, sans-serif;
}

h1{
    font-size: 2.7rem;
    line-height: 1.1;
    font-weight: bold;
}

p,li{
    font-size: 1.1rem;
    line-height: 1.56;
    letter-spacing: 0.1rem;
    word-spacing: 0.06rem;
}

.container{
    max-width: 140rem;
    padding: 3rem 3rem;
    margin: 0 auto;
}

.grid{
    display: grid;
    gap: 6.4rem;
}

.grid-col-2{
    grid-template-columns: repeat(2,1fr);
}

@media (max-width: 760px) {
    .grid-col-2{
        grid-template-columns: repeat(1,1fr);
    }
}

.name-world{
    margin: 2rem  0;
}
button{
    padding: 0.7rem 1.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #4e4eff;
    border-radius: 0.8rem;
    border: 0.1rem solid transparent;
    cursor: pointer;
    letter-spacing: 0.1rem;
    transition: all 0.4s ease-in-out;
    margin: 1rem 1.6rem 0 0;
}
button:hover{
    box-shadow: inset 0 0 0 0.2rem white;
    background-color:  #484fdc;
}
.hero-image{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}
.hero-image img{
    border-radius: 2rem;
    margin-top: 2.4rem;
}

/* midle section  */

.midle-section{
    padding: 5rem 0;
}
.grid-col-4{
    grid-template-columns: repeat(4,1fr);
}

@media (max-width: 768px) {
    .grid-col-4{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 340px) {
    .grid-col-4{
        grid-template-columns: repeat(1,1fr);
    }
}
.main-info{
    max-width: 140rem;
    background-color: white;
    padding: 2rem 2.4rem;
    margin: 0 2rem;
    border-radius: 1.5rem;
}

.info{
    color: black;
    padding-right: 2rem;
    text-align: center;
    border-right: 1px solid black;
}
.info:last-child{
    border: none;
}

.info h2{
    font-size: 2.6rem;
    font-weight: 900;
}
.info p{
    font-size: 1rem;
}

/* about */

.hero-imag{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.hero-imag img{
    border-radius: 2rem;
}

/* registration page */

.registation-form{
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.4s ease-in-out;
}
.registation-form:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main-heading{
    margin-bottom: 2.6rem;
}

.details{
    padding: 0 0 2rem ;
    display: flex;
    flex-direction: column;
}
.details, label{
    font-size: 1.1rem;
    line-height: 1.56;
    letter-spacing: 0.1rem;
    word-spacing: 0.06rem;
}
input, textarea{
    font-size: 1.1rem;
    line-height: 1.56;
    letter-spacing: 0.1rem;
    word-spacing: 0.06rem;
    border: none;
    border-bottom: 1px solid wheat;
    padding-top: 0.4rem;
}

.image{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;

}
.image img{
    border-radius: 2rem;
}

/* login */
.login-form{
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.4s ease-in-out;
}
.login-form:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* contact */
.contact-form{
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.4s ease-in-out;
}
.contact-form:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* error page */
.eror-page{
    padding: 0 5rem;
}
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
}
.header{
    font-size: 10rem;
    font-weight: 900;
}
h4{
    font-size: 2rem;
}
.btns{
    margin: 3rem 0;
    display: flex;
}
@media (max-width: 600px) {
    .btns{
        flex-direction: column;
    }
}
.problem{
    text-decoration: none;
    color: white;
    padding: 0.7rem 1.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #4e4eff;
    border-radius: 0.8rem;
    border: 0.1rem solid transparent;
    cursor: pointer;
    letter-spacing: 0.1rem;
    transition: all 0.4s ease-in-out;
    margin: 1rem 1.6rem 0 0;
}
.problem:hover{
    box-shadow: inset 0 0 0 0.2rem white;
    background-color:  #484fdc;
}

/* services */
.service{
    padding: 2rem 3rem;
    margin: 0 auto;
}
.service-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-header h2{
    margin-bottom: 2rem;
    font-size: 3rem;
}
.grid-col-3{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 1rem;
}
.card{
    padding: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.img-section img{
    border-radius: 1.5rem;
}

.service-info{
    margin: 1rem 0;
}
.service-info p{
    font-size: 0.7rem;
}
.service-detiles p{
    padding: 0.8rem 0;
    font-size: 1rem;
}


/* admin section */

.admin-user-section{
    padding: 2rem 3rem;
    margin: 0 auto;
}

.admin-header{
    display: flex;
    justify-content: center;
    align-items: center;
}


table{
    background-color: #fff;
    box-shadow: rgba(255,255,255, 0.2) 0px 7px 29px 0px;
    border-collapse: collapse;
    border-radius: 1rem;
    text-align: center;
}

tr{
    display: grid;
    grid-template-columns: repeat(5,minmax(10rem,1fr));
    gap: 4rem;
    align-items: center;
    box-shadow: 0 0.3rem 0 grey;
    margin-bottom: 10px;
    border-bottom: 4px solid transparent;
    color: black;
    padding: 3rem;
}
tr:last-child{
    box-shadow: none;
}
th{
    font-size: 1.5rem;
}

td{
    font-size: 1.2rem;
}

/* edite section */

.edit-form{
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.4s ease-in-out;
}

.edit{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    padding: 0 0 2rem ;
}

.edit label{
    font-size: 1.1rem;
    line-height: 1.56;
    letter-spacing: 0.1rem;
    word-spacing: 0.06rem;
}